
  <!-- Summary Cards -->
<div class="row g-3">
  <div class="col-md-4">
    <div class="card-box">
      <h6><i class="bi bi-check-circle me-2"></i>Task Summary</h6>
      <div class="row g-2 mt-2">

        <div class="col-6">
          <div class="status-box task-status-ToDo">
            <i class="bi bi-journal-text me-2 text-primary"></i>To Do<br>
            <span class="fs-4 mt-1">{{ this.ToDo_TotalCount }}</span>
          </div>
        </div>

        <div class="col-6">
          <div class="status-box task-status-InProgress">
            <i class="bi bi-hourglass-split me-2 text-warning"></i>In Progress<br>
            <span class="fs-4 mt-1">{{ this.Progress_TotalCount }}</span>
          </div>
        </div>

        <div class="col-6">
          <div class="status-box task-status-Completed">
            <i class="bi bi-check-circle-fill me-2 text-success"></i>Completed<br>
            <span class="fs-4 mt-1">{{ this.Completed_TotalCount }}</span>
          </div>
        </div>

        <div class="col-6">
          <div class="status-box task-status-Overdue">
            <i class="bi bi-pause-circle-fill me-2 text-danger"></i>On hold<br>
            <span class="fs-4 mt-1">{{ this.Onhold_TotalCount }}</span>
          </div>
        </div>

      </div>
    </div>
  </div>



    <!-- Projects -->
    <div class="col-md-4">
      <div class="card-box">
          <div class="d-flex justify-content-between w-100">
          <h6><i class="bi bi-list-task me-2"></i>Projects</h6>
                  <button class="btn btn-outline-secondary" (click)="OpenAddNewProjectDialog()"><i class="bi bi-plus-circle me-2"></i>Add Project</button>
          </div>
        
        <ul class="list-unstyled mt-3" *ngFor="let proj of ProjectData">
          <li><span class="badge bg-primary me-2">&nbsp;</span>{{proj.projectName}} </li>
          </ul>
        
      </div>
    </div>

    <!-- Weekly Report -->
    <div class="col-md-4">
      <div class="card-box">
        <h6><i class="bi bi-bar-chart me-2"></i>Weekly Report</h6>
         <p class="mb-1 mt-3 small">Tasks ToDo</p>
        <div class="progress mb-2" style="height: 8px;">
          <div class="progress-bar bg-priamry"  [style.width.%]="todoPercent"></div>
        </div>   
        <p class="mb-1 small">Tasks Progress</p>
        <div class="progress mb-3" style="height: 8px;">
          <div class="progress-bar bg-warning"  [style.width.%]="progressPercent"></div>
        </div>  
         <p class="mb-1 mt-3 small">Tasks On Hold</p>
        <div class="progress mb-2" style="height: 8px;">
          <div class="progress-bar bg-danger"  [style.width.%]="onholdPercent"></div>
        </div>
        <p class="mb-1 mt-3 small">Tasks Completed</p>
        <div class="progress mb-2" style="height: 8px;">
          <div class="progress-bar bg-success"  [style.width.%]="completedPercent"></div>
        </div><br>
        <button class="btn btn-outline-success w-100">View Full Report</button>
      </div>
    </div>
  </div>

  <!-- Recent Tasks -->
     <app-recent-tasks></app-recent-tasks>

